%a#github-repo{:href => "https://github.com/blairanderson/music-news"}
  %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", :style => "position: absolute; top: 20; right: 0; border: 0;"}/
%h1
  Welcome to Music News.
%h3
  TODOs:
%ul
  %li Let people submit their band name/bio/soundcloud links
  %li Submission Voting
  %li Single Vote per Visitor #similar to facebook-like
  %li update home-page scope to include votes for current timeframe
%h4
  I have a
  %a.muted{:href => "http://seainhd.com"} music blog
  that gets a few thousand visitors per month, as well hundreds of bands/groups/djs/producers submit their music for consideration each month.
%h2
  This website will display all their music.
