<div class="hero-unit">
  <p>
    Welcome to My SeaInHD Experiment. Any <%= link_to "music you post here", new_path, class: "muted" %> will be <%= link_to "publicly shared", "http://seainhd.com", class: "muted" %> to a huge amount of people. <%= link_to "Submit Music", new_path, class: "muted" %> for anyone you think is deserving.
  </p>
  <p>
    <small>
      created by <%= link_to "blair", "http://github.com/blairanderson", class: "muted" %>
    </small>
  </p>
</div>
