<footer>
    <li id="move-me">
      <% if logged_in? %>
        <%= link_to signout_path do %>
          <i class="fa fa-sign-out"></i> Sign Out
        <% end %>
      <% else %>
        <%= link_to "/auth/twitter" do %>
          <i class="fa fa-sign-in"></i> Sign In
        <% end %>
      <% end %>
    </li>
  <p>
    <%= link_to "a fun website by SeaInHD", "http://seainhd.com" %>
  </p>
</footer>

<script type="text/javascript" name="google-analytics">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15852999-1']);
  _gaq.push(['_setDomainName', 'seainhd.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'seainhd'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
