.navbar-inner
  .container-fluid
    =link_to "SEAINHD", '#', class: "brand"
    .nav-collapse
      %ul.nav
        %li
          -link_to "Pop", root_path
        %li
          =link_to "New", new_path
        %li
          =link_to "GTFO", gtfo_path
        %li
          %a{:href => "http://twitter.com/seainhd"}
            %i.icon-heart{style: "color: red"}
      / = form_tag '#', class: "navbar-search" 
      /   =search_tag
      /   / %input.search-query.span2{:placeholder => "Search", :type => "text"}/
      %ul.nav.pull-right
        %li
          =link_to "about", about_path
