.navbar-inner
  .container-fluid
    =link_to site_title, root_path, class: "brand"
    .nav-collapse
      %ul.nav
        %li
          -link_to "Pop", root_path
        %li
          =link_to "New", new_path
        %li
          =link_to "About", about_static_pages_path
      %ul.nav.pull-right
        - if logged_in?
          %li
            = link_to signout_path do 
              <i class="icon-off icon-white"></i>
              Sign Out
        - else
          %li
            = link_to "Sign in with Twitter", "/auth/twitter"
