.navbar-inner
  .container-fluid
    =link_to site_title, root_path, class: "brand"
    .nav-collapse
      %ul.nav
        %li
          -link_to "Pop", root_path
        %li
          =link_to "New", new_path
        %li
          =link_to "GTFO", gtfo_path
        %li
          =link_to "About", about_static_pages_path
