<h1>
  Welcome to Music News. 
</h1>
<h3>
  TODOs:
</h3>
<script src="https://gist.github.com/blairanderson/5894168.js"></script>
<ul>
  <li>Fix Turbo Links or Remove It</li>
  <li>Voting</li>
  <li>Single Vote per Visitor per Track #similar to facebook-like</li>
  <li>update home-page scope to include votes for current timeframe</li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<h4>
  I have a <a href="http://seainhd.com" class="muted">music blog</a> that gets a few thousand visitors per month, as well hundreds of bands/groups/djs/producers submit their music for consideration each month.  
</h4>
<h2>
  This website will display all their music.
</h2>
