<a href="https://github.com/blairanderson/music-news" id='github-repo'><img style="position: absolute; top: 20; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<h1>
  Welcome to Music News. 
</h1>
<h3>
  TODOs:
</h3>
<ul>
  <li>Fix Turbo-Links or Remove It</li>
  <li>Submission Voting</li>
  <li>Single Vote per Visitor #similar to facebook-like</li>
  <li>update home-page scope to include votes for current timeframe</li>
</ul>
<h4>
  I have a <a href="http://seainhd.com" class="muted">music blog</a> that gets a few thousand visitors per month, as well hundreds of bands/groups/djs/producers submit their music for consideration each month.  
</h4>
<h2>
  This website will display all their music.
</h2>
