<div class="hero-unit">
  <div class="page-header">
    <h1>success</h1>
    <h3>
      <%= @article.title %>
      <small>
        <%= link_to "visit #{@article.url}", @article.url, :target => "_blank" %>
      </small>
    </h3>
  </div>
</div>
