%h1
  YOU HAVE TWO OPTIONS, THE FORM ON THE LEFT, OR THE BLUE BUTTON ON THE RIGHT. 
%h2
  Choose Wisely

.span6
  = render 'form'
.span5
  %script{:src => "https://musikfly.com/widgets/embed/78.js", :type => "text/javascript"}
  #musikfly
