.container-fluid
  .span12
    .alert.alert-info
      %p.lead
        Please only post public information. 
      %p
        Everything here has the ability to be republished to numerous publications. do not submit private information.
    = render 'form'
