$background-color: #3498db;
$font-color: white;
$font-hover-color: darken($font-color, 17%);

@mixin color-and_hover() {
  color: white;
    &:hover{
      text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
    }
}
nav{
  @extend .navbar;
  @extend .navbar-default;
  background-color: $background-color;
  border-color: darken($background-color, 12%);
  margin-bottom: 0px;
  .navbar-header > a {
    @extend .navbar-brand;
    text-align: center;
    text-transform: uppercase;
    @include color-and_hover();
  }
  div.collapse{
    @extend .navbar-collapse;
    ul.nav{
      @extend .navbar-nav;
      > li > a {
        @include color-and_hover();
      }
    }
  }
}


form{
  div.input{
    @extend .form-group;
    textarea, input[type='text'], input[type='email'], input[type='url']{
      @extend .form-control;
    }
  }
  textarea, input[type='text'], input[type='email']{
    @extend .form-control;
  }
  input.soundcloud{
    margin-bottom: 25px;
  }
}