#player-row {
  width: 100%;
  background-color: #000;
}
#music-player{
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1140px;
  height: 28px;
}

#player{
  a {
    display: inline;
    text-decoration: none;
    padding: 0px;
    padding-right: 30px;
    @extend .fa;
    color: #fff;
    background-color: #000;
    line-height: 2;

    &:hover{
      color: lighten(#000, 10%);
      background-color: #fff;
    }
  }
}
#play {@extend .fa-play;}
#pause {@extend .fa-pause;}
#previous {@extend .fa-step-backward;}
#next {@extend .fa-step-forward;}
#nolove {@extend .fa-heart;}
#love {@extend .fa-heart; color: red;}
#like {@extend .fa-heart-o; color: red;}

#current-song {
  border: none;
  text-align: center;

  a {
    font-size: 17px;
    text-decoration: none;
    border: none;
    color: #000000;
    font-weight: bold;
  }
}
