#player-row {
  width: 100%;
  background-color: #000;
}


@mixin shadow($shadow: 1px 0px 1px 0px #ccc) {
  box-shadow:         $shadow;
  -moz-box-shadow:    $shadow;
  -webkit-box-shadow: $shadow;
}


.player{

  list-style: none;
  margin: 0px;
  background-color: #000;
  padding-left: 0;

  li {

    display: inline-block;
    $player-padding: 10px;
    padding-left:   $player-padding;
    padding-right:  $player-padding;
    cursor: pointer;
    @include shadow($shadow: -1px 0px 1px 0px #ccc);

    a {

      text-decoration: none;
      @extend .fa;
      color: #fff;
      line-height: 30px;
      height: 30px;

    }
  }
}
#play {@extend .fa-play;}
#pause {@extend .fa-pause;}
#previous {@extend .fa-step-backward;}
#next {@extend .fa-step-forward;}
#nolove {@extend .fa-heart;}
#love {@extend .fa-heart; color: red;}
#like {@extend .fa-heart-o; color: red;}

.current-song {
  border: none;
  text-align: center;
  background: black;

  &.title {

  }

  &.duration {
    display: none;
    width: 500px;
    margin-left: 200px;
  }

  a {
    font-size: 17px;
    text-decoration: none;
    border: none;
    color: #fff;
    font-weight: bold;
    &:hover{
      background-color: #000; 
    }
  }
}
