<div class="container-fluid">
  <div id="music-player" data-spy="affix" data-offset-top="200">
    <div class="pagination">
      <ul class="controls">
        <li><a id="prev" data-control="prev"><i class='icon-step-backward'></i></a></li>
        <li><a id="play" data-control="play"><i class='icon-play'></i></a></li>
        <li><a id="pause" data-control="pause"><i class='icon-pause'></i></a></li>
        <li><a id="stop" data-control="stop"><i class='icon-stop'></i></a></li>
        <li><a id="next" data-control="next"><i class='icon-step-forward'></i></a></li>
        <li><a id='currentTrack'>loading...</a></li>
      </ul>
    </div>
  </div>
</div>
