.submission-list{
  .submission{
    border-bottom: solid 1px #cccccc;
    margin: 10px 0px;
    @extend .row;
    &:hover{
      background-color: #fff;
    }
    .sub-gutter{
      @extend .col-md-4;
      @extend .col-sm-12;
      .img {
        padding: 10px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);

      }
      img{
      }
      a{
        font-family: Oswald;
        span{
          font-size: 3em;
          line-height: 1em;
          font-weight: bold;
        }
        p{
          font-size: 2em;
          line-height: 1em;
        }
        h6{
          float: right;
        }
      }
    }
    .sub-content{
      @extend .col-md-8;
      @extend .col-sm-12;
    }
  }
}
