.submission-show{
  @extend .row;
  .content{
    float: left;
    @extend .col-xs-12;
    @extend .col-sm-6;
    p.lead{
      max-height: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .gutter{
    float: right;
    @extend .col-xs-12;
    @extend .col-sm-6;
  }
}
