#music-player{
  #player{
    @extend .btn-group;
    button{
      @extend .btn;
      @extend .btn-default;
      @extend .btn-xs;
      &:active, &:hover{
        background-color: #fff;
      }
      > i{
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-fw;
        color: #000;
        &:hover{
          color: lighten(#000, 50%);
        }
      }
    }
    button#play > i{@extend .fa-play;}
    button#pause > i{@extend .fa-pause;}
    button#previous > i{@extend .fa-step-backward;}
    button#next > i{@extend .fa-step-forward;}
    button#nolove > i{@extend .fa-heart;}
    button#love > i{
      @extend .fa-heart;
      color: red;
    }
    button#like > i{
      @extend .fa-heart-o;
      color: red;
    }
  }
  span#playlist {
    padding-left: 20px;
    padding-right:20px;
    border: none;

    a{
      font-size: 17px;
      text-decoration: none;
      border: none;
      color: #ff6600;
      font-weight: bold;
    }
  }
}




