#music-player{
  #player{
    @extend .btn-group;
    button{
      @extend .btn;
      @extend .btn-default;
      @extend .btn-xs;
      &:active, &:hover{
        background-color: #fff;
      }
      > i{
        @extend .fa;
        @extend .fa-2x;
        @extend .fa-fw;
        color: #0638d5;
        opacity:0.5;
        &:hover{
          color: lighten(#0638d5, 10%);
          opacity:0.8;
        }
      }
    }
    button#play > i{@extend .fa-play;}
    button#pause > i{@extend .fa-pause;}
    button#previous > i{@extend .fa-step-backward;}
    button#next > i{@extend .fa-step-forward;}
    button#love > i{@extend .fa-heart;}
    button#like > i{@extend .fa-heart-o;}
  }
  #playlist{
    margin-top: 10px;
    @extend .panel;
    @extend .panel-primary;
    .header{
      @extend .panel-heading;
      h3{
        @extend .panel-title;
      }
    }
    .body{
      @extend .panel-body;
      ul{
        @extend .list-group;
        li{
          @extend .list-group-item;
        }
      }
    }
  }
}




