.item {
  margin-bottom: 10px;
}

.item img {
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.item a {
  font-size: 13px;
  font-weight: bold;
  color: white;
  display: block;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

background-color: #009bf2;
background-image: -webkit-gradient(linear, left center, right center, from(rgb(0, 155, 242)), to(rgb(62, 44, 226)));
background-image: -webkit-linear-gradient(left, rgb(0, 155, 242), rgb(62, 44, 226));
background-image: -moz-linear-gradient(left, rgb(0, 155, 242), rgb(62, 44, 226));
background-image: -o-linear-gradient(left, rgb(0, 155, 242), rgb(62, 44, 226));
background-image: -ms-linear-gradient(left, rgb(0, 155, 242), rgb(62, 44, 226));
background-image: linear-gradient(left, rgb(0, 155, 242), rgb(62, 44, 226));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#009bf2', EndColorStr='#3e2ce2');
}
