// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  color: black;
}
p, span , h1, h2, h3, h4, h5 {
  background-color: #b6f776;
background-image: -webkit-gradient(linear, left center, right center, from(rgb(182, 247, 118)), to(rgb(72, 95, 255)));
background-image: -webkit-linear-gradient(left, rgb(182, 247, 118), rgb(72, 95, 255));
background-image: -moz-linear-gradient(left, rgb(182, 247, 118), rgb(72, 95, 255));
background-image: -o-linear-gradient(left, rgb(182, 247, 118), rgb(72, 95, 255));
background-image: -ms-linear-gradient(left, rgb(182, 247, 118), rgb(72, 95, 255));
background-image: linear-gradient(left, rgb(182, 247, 118), rgb(72, 95, 255));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#b6f776', EndColorStr='#485fff');

}

div#window{
  section.content{
    @extend .row;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    div#main{
      @extend .col-xs-8;
      max-width: 660px;
      min-width: 640px;
    }
    div#sidebar{
      @extend .col-xs-4;
      max-width: 330px;
      min-width: 320px;
    }
  }
}

footer{
  @extend .container;
}

div#window > section.content > div#main > .body {
  .submission-list{
    .submission{
      border-bottom: solid 3px #000;
      margin-bottom: 20px;
      @extend .row;
      .sub-gutter{
        @extend .col-xs-1;
        padding: 0;
        img{
          margin-top: 15px;
        }
      }
      .sub-content{
        @extend .col-xs-11;
        .song{
          @extend .row;
          margin-bottom: 40px;
          .song-content{
            @extend .col-xs-9;
            padding-top: 15px;
            h2{
              height: 100%;
            }
            h4{}
          }
          .song-gutter{
            @extend .col-xs-3;
            padding-top: 15px;
            button{
              @extend .btn;
              @extend .btn-default;
              width: 40px;
              height: 38px;
              margin-bottom: 2px;
            }
            button{
              > i{
                @extend .fa;
              }
              &.play{
                background-color: hsl(302, 72%, 47%) !important;
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ce21c8", endColorstr="#ce21c8");
                background-image: -khtml-gradient(linear, left top, left bottom, from(#ce21c8), to(#ce21c8));
                background-image: -moz-linear-gradient(top, #ce21c8, #ce21c8);
                background-image: -ms-linear-gradient(top, #ce21c8, #ce21c8);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ce21c8), color-stop(100%, #ce21c8));
                background-image: -webkit-linear-gradient(top, #ce21c8, #ce21c8);
                background-image: -o-linear-gradient(top, #ce21c8, #ce21c8);
                background-image: linear-gradient(#ce21c8, #ce21c8);
                border-color: #ce21c8 #ce21c8 hsl(302, 72%, 47%);
                color: #fff !important;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
                -webkit-font-smoothing: antialiased;
                > i {
                  @extend .fa-play;
                }
              }
              &.heart > i {
                @extend .fa-heart;
                color: red;
              }
              &.facebook > i {
                @extend .fa-facebook;
              }
              &.twitter > i {
                @extend .fa-twitter;
              }
            } 
          }
        }
      }
    }
  }
}    
