---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/oembed?client_id=c024bdd48e9ecf014c71af406201f3a2&format=json&url=https://soundcloud.com/yuniintaxco/echoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://soundcloud.com/oembed?url=https%3A%2F%2Fsoundcloud.com%2Fyuniintaxco%2Fechoes&format=json&client_id=c024bdd48e9ecf014c71af406201f3a2
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="http://soundcloud.com/oembed?url=https%3A%2F%2Fsoundcloud.com%2Fyuniintaxco%2Fechoes&amp;format=json&amp;client_id=c024bdd48e9ecf014c71af406201f3a2">redirected</a>.</body></html>
  recorded_at: Mon, 15 Jul 2013 00:59:18 GMT
- request:
    method: get
    uri: http://soundcloud.com/oembed?client_id=c024bdd48e9ecf014c71af406201f3a2&format=json&url=https://soundcloud.com/yuniintaxco/echoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"57407c365fc457879d0976bb0dc11c9a"'
    body:
      encoding: UTF-8
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"http://soundcloud.com","height":166,"width":"100%","title":"Echoes
        by Yuni in Taxco","description":"from our third album, PRIZES. Available 6.23
        from Havaii Records.\r\n\r\nPre-order the limited edition vinyl here:\r\n\r\nhttp://havaii.bandcamp.com","thumbnail_url":"http://i1.sndcdn.com/artworks-000022810909-5axxr4-t500x500.jpg?cc07a88","html":"\u003Ciframe
        width=\"100%\" height=\"166\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F45368100\u0026show_artwork=true\u0026client_id=c024bdd48e9ecf014c71af406201f3a2\"\u003E\u003C/iframe\u003E","author_name":"Yuni
        in Taxco","author_url":"http://soundcloud.com/yuniintaxco"}'
  recorded_at: Mon, 15 Jul 2013 00:59:19 GMT
recorded_with: VCR 2.5.0
