---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/oembed?client_id=c024bdd48e9ecf014c71af406201f3a2&format=json&url=https://soundcloud.com/yuniintaxco/echoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - http://soundcloud.com/oembed?url=https%3A%2F%2Fsoundcloud.com%2Fyuniintaxco%2Fechoes&format=json&client_id=c024bdd48e9ecf014c71af406201f3a2
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="http://soundcloud.com/oembed?url=https%3A%2F%2Fsoundcloud.com%2Fyuniintaxco%2Fechoes&amp;format=json&amp;client_id=c024bdd48e9ecf014c71af406201f3a2">redirected</a>.</body></html>
  recorded_at: Mon, 23 Dec 2013 18:55:16 GMT
- request:
    method: get
    uri: http://soundcloud.com/oembed?client_id=c024bdd48e9ecf014c71af406201f3a2&format=json&url=https://soundcloud.com/yuniintaxco/echoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e161042c6807197609b89b2c45a1775f"'
    body:
      encoding: UTF-8
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"http://soundcloud.com","height":166,"width":"100%","title":"Echoes
        by Yuni in Taxco","description":"from our third album, PRIZES. Available 6.23
        from Havaii Records.\r\n\r\nPre-order the limited edition vinyl here:\r\n\r\nhttp://havaii.bandcamp.com","thumbnail_url":"http://i1.sndcdn.com/artworks-000022810909-5axxr4-t500x500.jpg?d53bf9f","html":"\u003Ciframe
        width=\"100%\" height=\"166\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F45368100\u0026show_artwork=true\u0026client_id=c024bdd48e9ecf014c71af406201f3a2\"\u003E\u003C/iframe\u003E","author_name":"Yuni
        in Taxco","author_url":"http://soundcloud.com/yuniintaxco"}'
  recorded_at: Mon, 23 Dec 2013 18:55:17 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/resolve?client_id=c024bdd48e9ecf014c71af406201f3a2&format=json&url=https://soundcloud.com/yuniintaxco/echoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://api.soundcloud.com/tracks/45368100.json?client_id=c024bdd48e9ecf014c71af406201f3a2
    body:
      encoding: UTF-8
      string: '{"status":"302 - Found","location":"http://api.soundcloud.com/tracks/45368100.json?client_id=c024bdd48e9ecf014c71af406201f3a2"}'
  recorded_at: Mon, 23 Dec 2013 18:55:17 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/45368100.json?client_id=c024bdd48e9ecf014c71af406201f3a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f4cecbf99f3867dae86e90258e162734"'
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":45368100,"created_at":"2012/05/05 06:25:18 +0000","user_id":1772692,"duration":382681,"commentable":true,"state":"finished","original_content_size":67465014,"sharing":"public","tag_list":"Prizes
        HAVAII","permalink":"echoes","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Psych
        Pop","title":"Echoes","description":"from our third album, PRIZES. Available
        6.23 from Havaii Records.\r\n\r\nPre-order the limited edition vinyl here:\r\n\r\nhttp://havaii.bandcamp.com","label_name":"","release":"","track_type":"recording","key_signature":"","isrc":"","video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"wav","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/45368100","user":{"id":1772692,"kind":"user","permalink":"yuniintaxco","username":"Yuni
        in Taxco","uri":"http://api.soundcloud.com/users/1772692","permalink_url":"http://soundcloud.com/yuniintaxco","avatar_url":"http://i1.sndcdn.com/avatars-000038556224-umh51r-large.jpg?d53bf9f"},"permalink_url":"http://soundcloud.com/yuniintaxco/echoes","artwork_url":"http://i1.sndcdn.com/artworks-000022810909-5axxr4-large.jpg?d53bf9f","waveform_url":"http://w1.sndcdn.com/U7ovzxmtH0il_m.png","stream_url":"http://api.soundcloud.com/tracks/45368100/stream","playback_count":122,"download_count":0,"favoritings_count":1,"comment_count":0,"attachments_uri":"http://api.soundcloud.com/tracks/45368100/attachments"}'
  recorded_at: Mon, 23 Dec 2013 18:55:18 GMT
recorded_with: VCR 2.8.0
